.comment {
    padding-left: 30px;
    border-left: 2px solid rgba(200, 200, 200, .3);
    margin-top: 40px;
    margin-bottom: 40px;
}

.comment__email {
    font-size: 12px;
    font-style: italic;
    color: #a1855e;
}

.comment__name {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment__body {
    color: #404040;
}